* {
   box-sizing: border-box;
}

.container {  
   margin: 0 auto;
   font-family: Cabin;
   
}
.header{
   position: sticky;
   top: 0;
   z-index: 1;
   
}

.menu-1{
   display: flex;
   background-color:#10BBD5;
   color: #F8FDFE;
   height: 72px; 
   padding: 16px 52px;
   justify-content: space-between;
   align-items: center;
   
} 


.logo-header{        
   font-size: 24px; 
   font-weight: 700;
}

#btn-theme{
   background-color:#10BBD5;
   color: #FFF ;
   width: 100px;
   height: 40px;
   border: #FFF solid 1px; 
   border-radius: 5px;
   font-size: 14px; 
   font-weight: 400;  
}

.light-theme{
   background-color: #F8FDFE;
}

.dark-theme{
   background-color: rgb(86, 76, 76);
}

.basket{
   display: flex;
   align-items:center;
}
   
.price-basket{
   font-size: 16px;
   font-weight: 400;     
}

.button-basket{
   background-color:#10BBD5; 
   background-size: cover;    
   width: 40px;
   height: 40px;
   border: none;
   background-image: url(/images/cart_icon.png);
}

.menu-2{
   display: flex;
   padding: 4px 52px;
   justify-content: space-between;
   background-color: #FFF;
}

.category{
   color: #000;
   font-size: 16px;
   font-weight: 400; 
}

.name-categories{
   display: flex;
}

.item{
   text-decoration: none;
   padding-left: 40px;
}

.main{
   display: flex;
   flex-direction: column;
   background-color: #EEEEEF;
   align-items: center;
}

.title{
   color: #1F1F1F;
   font-size: 32px;
   font-weight: 600;
   margin: 32px 52px 23px 52px;   
}

.title::after{
   content: '';   
   display: block;
   width: 1400px;   
   border-bottom: 1px solid #A8A8A8; 
   padding-top: 24px;
}

.catalog{
   display: grid;
   justify-content: space-between;
   grid-template-columns: repeat(4, 306px);
   grid-template-rows: repeat(3,512px) 120px;
   margin: 0 52px;
   column-gap: 1em;
   row-gap: 32px;
   font-weight: 600;
   width: 1400px;
}

#card-books{
   position: relative;
   padding: 32px;
}

.img-book{
   display: block;
   margin: 0 auto;
   width: 178px;
   height: 280px; 
   margin-bottom: 16px;
}       
     
.wrapper{
   display: flex;
   flex-direction: column;
} 

.wrapper a{
   text-decoration: none;
}

.name-book{
   overflow: hidden;
   color:#1F1F1F;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 20px;
   font-weight: 700;
   line-height: 28px;
}

.name-book::after{
   content: '';
   border-bottom: 1px solid #A8A8A8;
   display: block;
}

.autor-book{
   overflow: hidden;
   color: #8E8E8E;
   text-overflow: ellipsis;
   white-space: nowrap;    
   font-size: 16px;
   font-weight: 400;
   line-height: 24px
}

.price-book{
   color: #E90000;
   font-size: 24px;
   font-weight: 500;
   line-height: 32px;
   margin: 8px 0 16px;
}  

.price-book-old{
   color: #8E8E8E; 
   text-decoration-line: line-through;
   margin-left: 24px;
}
         
.add-to{
   width: 100%;        
   padding: 8px 24px; 
   border-radius: 4px; 
   background: #4C394E; 
   color:#F8FDFE;
   font-size: 16px;
   font-weight: 400; 
}

.add-to:hover{
   background: #4D762D;
}

.end-up{
   width: 100%;        
   padding: 8px 24px; 
   border-radius: 4px; 
   background: #4D762D; 
   color:#F8FDFE;
   font-size: 16px;
   font-weight: 400;
}

.hit,
.new,
.off-hit,
.off-new,
.off{
   position: absolute; 
   font-size: 16px; 
   font-weight: 400; 
   border-radius: 4px;
   padding: 4px 8px;   
}

.hit{
   background: #4200FF;
   color:#F8FDFE ;
}  

.new{
   background: #AF39E7;
   color:#F8FDFE ;
}

.off-hit{
   left: 72px;
   background: #EA33C0;
   color:#F8FDFE ;
}

.off-new{
   left: 83px;
   background: #EA33C0;
   color:#F8FDFE ;
}

.off{
   background: #EA33C0;
   color:#F8FDFE ;
}

.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 88px;
   background-color: #4C394E;
}

.copyright{
   color: #F8FDFE;
   font-size: 16px;
   font-weight: 400; 
   margin-left: 52px;
}

.copyright img{
   width:12px ;
}
   
.rights{
   margin-right: 52px;
   color: #F8FDFE;
   font-size: 16px;
   font-weight: 400; 
}

.icon-chat{   
   background-color: #10BBD5;
   position: sticky;  
   border: none;
   width: 64px;
   height: 64px; 
   border-radius: 50%;
   bottom: 0;
   margin-left: 1360px;   
}







   
  


