*{
   box-sizing: border-box;
<<<<<<< HEAD:css/style.css
}

.container {  
   margin: 0 auto;
   font-family: Cabin;
=======
   margin: 0 auto;
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   
}

.header{
   position: sticky;
   top: 0;
   z-index: 1;
<<<<<<< HEAD:css/style.css
   
=======
   font-family: Cabin;   
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
}

.top-menu{
   display: flex;
   background-color:#10BBD5;
   color: #F8FDFE;
   height: 72px; 
   padding: 16px 52px;
   justify-content: space-between;
<<<<<<< HEAD:css/style.css
   align-items: center;
   
} 


.logo-header{        
   font-size: 24px; 
   font-weight: 700;
}

#btn-theme{
   background-color:#10BBD5;
   color: #FFF ;
   width: 100px;
   height: 40px;
   border: #FFF solid 1px; 
   border-radius: 5px;
   font-size: 14px; 
   font-weight: 400;  
}

.light-theme{
   background-color: #F8FDFE;
}

.dark-theme{
   background-color: rgb(86, 76, 76);
}

.basket{
=======
   align-items: center;   
} 

.top-menu__logo{        
   font-size: 24px; 
   font-weight: 700;
}
.top-menu__basket{
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   display: flex;
   align-items:center;
}
   
.top-menu__basket-price{
   font-size: 16px;
   font-weight: 400;     
}

.top-menu__basket-btn{
   background-color:#10BBD5; 
   background-size: cover;    
   width: 40px;
   height: 40px;
   border: none;
   background-image: url(/src/images/cart_icon.png);
}

.bottom-menu{
   display: flex;
   padding: 4px 52px;
   justify-content: space-between;
   background-color: #FFF;
}

.bottom-menu__title{
   color: #000;
   font-size: 16px;
   font-weight: 400; 
}

<<<<<<< HEAD:css/style.css
.name-categories{
=======
.bottom-menu__items{
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   display: flex;
}

.item{
   text-decoration: none;
   padding-left: 40px;
   color: #000;
}

.main{
   display: flex;
   flex-direction: column;
   background-color: #EEEEEF;
   align-items: center;
<<<<<<< HEAD:css/style.css
}

.title{
=======
   font-family: Cabin;
}

.main__title{
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   color: #1F1F1F;
   font-size: 32px;
   font-weight: 600;
   margin: 32px 52px 23px 52px;   
}

<<<<<<< HEAD:css/style.css
.title::after{
=======
.main__title::after{
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   content: '';   
   display: block;
   width: 1400px;   
   border-bottom: 1px solid #A8A8A8; 
   padding-top: 24px;
}

.main__catalog{
   display: grid;
   justify-content: space-between;
   grid-template-columns: repeat(4, 306px);
   grid-template-rows: repeat(3,512px) 120px;
   margin: 0 52px;
   column-gap: 1em;
   row-gap: 32px;
   font-weight: 600;
   width: 1400px;
}

<<<<<<< HEAD:css/style.css
#card-books{
=======
.main__card{
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   position: relative;
   padding: 32px;
}

.main-card__img{
   display: block;
   margin: 0 auto;
   width: 178px;
   height: 280px; 
   margin-bottom: 16px;
}       
     
.main-book{
   display: flex;
   flex-direction: column;
} 

.main-book a{
   text-decoration: none;
}

.main-book__name{
   overflow: hidden;
   color:#1F1F1F;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 20px;
   font-weight: 700;
   line-height: 28px;
}

<<<<<<< HEAD:css/style.css
.name-book::after{
=======
.main-book__name::after{
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   content: '';
   border-bottom: 1px solid #A8A8A8;
   display: block;
}

.main-book__autor{
   overflow: hidden;
   color: #8E8E8E;
   text-overflow: ellipsis;
   white-space: nowrap;    
   font-size: 16px;
   font-weight: 400;
   line-height: 24px
}

.main-book__price{
   color: #E90000;
   font-size: 24px;
   font-weight: 500;
   line-height: 32px;
   margin: 8px 0 16px;
}  

.main-book__old-price{
   color: #8E8E8E; 
   text-decoration-line: line-through;
   margin-left: 24px;
}
         
.main-card__add-to{
   width: 100%;        
   padding: 8px 24px; 
   border-radius: 4px; 
   background: #4C394E; 
   color:#F8FDFE;
   font-size: 16px;
   font-weight: 400; 
}

.main-card__add-to:hover{
   background: #4D762D;
}

.main-card__end-up{
   width: 100%;        
   padding: 8px 24px; 
   border-radius: 4px; 
   background: #4D762D; 
   color:#F8FDFE;
   font-size: 16px;
   font-weight: 400;
}

.main-card__hit,
.main-card__new,
.main-card__off-hit,
.main-card__off-new,
.main-card__off{
   position: absolute; 
   font-size: 16px; 
   font-weight: 400; 
   border-radius: 4px;
   padding: 4px 8px;   
}

.main-card__hit{
   background: #4200FF;
   color:#F8FDFE ;
}  

.main-card__new{
   background: #AF39E7;
   color:#F8FDFE ;
}

.main-card__off-hit{
   left: 72px;
   background: #EA33C0;
   color:#F8FDFE ;
}

.main-card__off-new{
   left: 83px;
   background: #EA33C0;
   color:#F8FDFE ;
}

.main-card__off{
   background: #EA33C0;
   color:#F8FDFE ;
}

<<<<<<< HEAD:css/style.css
.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 88px;
   background-color: #4C394E;
}

.copyright{
   color: #F8FDFE;
   font-size: 16px;
   font-weight: 400; 
   margin-left: 52px;
}

.copyright img{
   width:12px ;
}
   
.rights{
   margin-right: 52px;
   color: #F8FDFE;
   font-size: 16px;
   font-weight: 400; 
}

.icon-chat{   
=======
.main__icon-chat{   
>>>>>>> 4b3497eda4fde0d9f36a5a3126b4b7a4a01acc8a:src/css/style.css
   background-color: #10BBD5;
   position: sticky;  
   border: none;
   width: 64px;
   height: 64px; 
   border-radius: 50%;
   bottom: 0;
   margin-left: 1360px;   
}

.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 88px;
   background-color: #4C394E;
   font-family: Cabin;
}

.footer__copyright{
   color: #F8FDFE;
   font-size: 16px;
   font-weight: 400; 
   margin-left: 52px;
}

.footer__copyright img{
   width:12px ;
}
   
.footer__rights{
   margin-right: 52px;
   color: #F8FDFE;
   font-size: 16px;
   font-weight: 400; 
}









   
  


