@mixin btn-basket {
    background-color:#10BBD5; 
    background-size: cover;    
    width: 40px;
    height: 40px;
    border: none;
    background-image: url(../images/cart_icon.png);
 }

 @mixin btn-card-bottom($bg-color: #4C394E){
    width: 100%;        
   padding: 8px 24px; 
   border-radius: 4px; 
   background:$bg-color; 
   color:#F8FDFE;
   font-size: 16px;
   font-weight: 400; 
 }
 
 @mixin btn-card-top ($bg-color: #EA33C0){
    position: absolute; 
   font-size: 16px; 
   font-weight: 400; 
   border-radius: 4px;
   padding: 4px 8px; 
   color:#F8FDFE ;
   background:$bg-color;
 }

 @mixin btn-chat{
    background-color: #10BBD5;
   position: sticky;  
   border: none;
   width: 64px;
   height: 64px; 
   border-radius: 50%;
   bottom: 0;
   margin-left: 1360px;
 }