 $text-light-color: #F8FDFE;
 $text-dark-color: #1F1F1F;
 $menu-title-color: #000;
 $book-autor-color: #8E8E8E;
 $book-price-color: #E90000;
 $book-old-price-color: #8E8E8E;

 $topHeader-bgColor: #10BBD5;
 $bottomHeader-bgColor:  #FFF;
 $main-bgColor:  #EEEEEF;
 $main-card-bgColor: #F8FDFE;
 $footer-bgColor: #4C394E;

 $line:1px solid #A8A8A8;