@mixin flex($direction:row){
    display: flex;
    flex-direction: $direction;
 }


 @mixin grid {
   display: grid;
   justify-content: space-between;
   grid-template-columns: repeat(4, 306px);
   grid-template-rows: repeat(3,512px) 120px;
   margin: 0 52px;
   column-gap: 1em;
   row-gap: 32px;
   font-weight: 600;
   width: 1400px;
 }
 
