@import"./reset.scss";
@import "./_button.scss";
@import "./_color-bgColor.scss";
@import "./_display.scss";
@import "./_fonts.scss";

*{
    box-sizing: border-box;
    margin: 0 auto;    
 }

 .header{
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: $font-stack;    
 }

 .top-menu{
    @include flex;
    justify-content: space-between;
    align-items: center;    
    background-color:$topHeader-bgColor;
    color: $text-light-color;
    height: 72px; 
    padding: 16px 52px;      
} 

.top-menu__logo{        
   font-size: $medium-fs; 
   font-weight: $bold-fw;
}
.top-menu__basket{
   @include flex;  
   align-items:center; 
}
   
.top-menu__basket-price{
   font-size: $small-fs;
   font-weight: $normal-fw;  
   color: $text-light-color;
}

.top-menu__basket-btn{
      @include btn-basket;
   }


.bottom-menu{
   @include flex;
   justify-content: space-between;
   padding: 4px 52px;
   background-color: $bottomHeader-bgColor;
}

.bottom-menu__title{
   color: $menu-title-color;
   font-size: $small-fs;
   font-weight: $normal-fw;
} 

.bottom-menu__items{
   @include flex;   
}

.item{
   text-decoration: none;
   padding-left: 40px;
   color: $menu-title-color;
   }
   
   .main{
      @include flex($direction:column);
      align-items: center;
      background-color: $main-bgColor;      
      font-family: $font-stack;
   }
   
   .main__title{
      color: $text-dark-color;
      font-size: $title-fs;
      font-weight:  $semi-bold-fw;
      margin: 32px 52px 23px 52px;   
   
   &::after{
      content: '';   
      display: block;
      width: 1400px;   
      border-bottom: $line; 
      padding-top: 24px;
   }
}

.main__catalog{
   @include grid;
}

.main__card{
   position: relative;
   background-color:$text-light-color;
   padding: 32px;
}

.main-card__img{
   display: block;
   margin: 0 auto;
   width: 178px;
   height: 280px; 
   margin-bottom: 16px;
}       
     
.main-book{
   @include flex($direction:column);
} 

.main-book a{
   text-decoration: none;
}

.main-book__name{
   overflow: hidden;
   color: $text-dark-color;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: $book-name-fs;
   font-weight: $bold-fw;
   line-height: 28px;

   &::after{
      content: '';
      border-bottom: $line;
      display: block;
   }
}

.main-book__autor{
   overflow: hidden;
   color:$book-autor-color;
   text-overflow: ellipsis;
   white-space: nowrap;    
   font-size: $small-fs;
   font-weight: $normal-fw;
   line-height: 24px
}

.main-book__price{
   color: $book-price-color;
   font-size: $medium-fs;
   font-weight: $average-fw;
   line-height: 32px;
   margin: 8px 0 16px;
}  

.main-book__old-price{
   color: $book-old-price-color; 
   text-decoration-line: line-through;
   margin-left: 24px;
}

.main-card__add-to{
   @include btn-card-bottom;

   &:hover{
      background: #4D762D;
   }
}

.main-card__end-up{
   @include btn-card-bottom($bg-color: #4D762D);
}

.main-card__hit{
   @include btn-card-top($bg-color: #4200FF);
}

.main-card__new{
   @include btn-card-top($bg-color: #AF39E7);
}

.main-card__off-hit{
   @include btn-card-top;
   left: 72px;
}

.main-card__off-new{
   @include btn-card-top;
   left: 83px;
}

.main-card__off{
   @include btn-card-top;
}

.main__icon-chat{
   @include btn-chat;
}

.footer{
   @include flex;
   justify-content: space-between;
   align-items: center;
   height: 88px;
   background-color: $footer-bgColor;
   font-family: $font-stack;
}

.footer__copyright{
   color:  $text-light-color;
   font-size: $small-fs;
   font-weight: 400; 
   margin-left: 52px;
}

.footer__copyright img{
   width:12px ;
}
   
.footer__rights{
   margin-right: 52px;
   color:  $text-light-color;
   font-size: $small-fs;
   font-weight: $normal-fw; 
}