* {
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: font-stack;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #10BBD5;
  color: #F8FDFE;
  height: 72px;
  padding: 16px 52px;
}

.top-menu__logo {
  font-size: 24px;
  font-weight: 700;
}

.top-menu__basket {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-menu__basket-price {
  font-size: 16px;
  font-weight: 400;
  color: #F8FDFE;
}

.top-menu__basket-btn {
  background-color: #10BBD5;
  background-size: cover;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(/src/images/cart_icon.png);
}

.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 52px;
  background-color: #FFF;
}

.bottom-menu__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.bottom-menu__items {
  display: flex;
  flex-direction: row;
}

.item {
  text-decoration: none;
  padding-left: 40px;
  color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEF;
  font-family: Cabin;
}

.main__title {
  color: #1F1F1F;
  font-size: 32px;
  font-weight: 600;
  margin: 32px 52px 23px 52px;
}
.main__title::after {
  content: "";
  display: block;
  width: 1400px;
  border-bottom: 1px solid #A8A8A8;
  padding-top: 24px;
}

.main__catalog {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 306px);
  grid-template-rows: repeat(3, 512px) 120px;
  margin: 0 52px;
  column-gap: 1em;
  row-gap: 32px;
  font-weight: 600;
  width: 1400px;
}

.main__card {
  position: relative;
  background-color: #F8FDFE;
  padding: 32px;
}

.main-card__img {
  display: block;
  margin: 0 auto;
  width: 178px;
  height: 280px;
  margin-bottom: 16px;
}

.main-book {
  display: flex;
  flex-direction: column;
}

.main-book a {
  text-decoration: none;
}

.main-book__name {
  overflow: hidden;
  color: #1F1F1F;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.main-book__name::after {
  content: "";
  border-bottom: 1px solid #A8A8A8;
  display: block;
}

.main-book__autor {
  overflow: hidden;
  color: #8E8E8E;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main-book__price {
  color: #E90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 8px 0 16px;
}

.main-book__old-price {
  color: #8E8E8E;
  text-decoration-line: line-through;
  margin-left: 24px;
}

.main-card__add-to {
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4C394E;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
}
.main-card__add-to:hover {
  background: #4D762D;
}

.main-card__end-up {
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4D762D;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
}

.main-card__hit {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 8px;
  color: #F8FDFE;
  background: #4200FF;
}

.main-card__new {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 8px;
  color: #F8FDFE;
  background: #AF39E7;
}

.main-card__off-hit {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 8px;
  color: #F8FDFE;
  background: #EA33C0;
  left: 72px;
}

.main-card__off-new {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 8px;
  color: #F8FDFE;
  background: #EA33C0;
  left: 83px;
}

.main-card__off {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 8px;
  color: #F8FDFE;
  background: #EA33C0;
}

.main__icon-chat {
  background-color: #10BBD5;
  position: sticky;
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  bottom: 0;
  margin-left: 1360px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  background-color: #4C394E;
  font-family: Cabin;
}

.footer__copyright {
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  margin-left: 52px;
}

.footer__copyright img {
  width: 12px;
}

.footer__rights {
  margin-right: 52px;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=output.css.map */
